@import './css/userDashboard.css'; 
@import './css/submitTicketForm.css'; 
@import './css/navbar.css'; 
@import './css/sellYourTicket.css'; 
@import './css/signout.css'; 
@import './css/signin.css';
@import './css/ticketInfo.css';

*{
  /* margin: 0  */
  font-family: 'Open Sans', sans-serif;
  /* min-width: 600px;  */
}

*, ::after, ::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
  /* helps w scrolling on anchor tags.  */
}

body{
  min-width: 375px; 
  max-width: 1000px;
  margin:auto; 
  background-color:  #F8F9FA;
}

.pageBackground--bright{
  background-color: #F8F9FA;
}

.pageBackground--white{
  background-color: white;
}


/* 
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  .product {
    border: 1px #404040 solid;
    margin: 1rem;
  }
  .product span {
    color: blue; 
    margin: 10px; 
  } */

