.signin__background-image{
    background: url('../images/signin.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
}

.signin__card{
    margin: auto; 
    background-color: white; 
    width: 300px;
    display: flex; 
    flex-direction: column; 
    margin-top: 50px; 
    padding: 20px; 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    /* height: 300px;  */
}

.form-group input {
    border: 0;
    border-bottom: 2px solid #333;
    padding: 10px 5px;
    background-color: white;
    display: block;
    font-size: 18px;
    font-family: 'Muli', sans-serif;
    width: 100%;
    transition: 0.1s ease-in;
}

.signin__option{
    font-size: 0.8rem;
}