
.signout__background-image{
    background: url('../images/signout.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
}

.signout__card{
    margin: auto; 
    background-color: white; 
    width: 300px;
    display: flex; 
    flex-direction: column; 
    margin-top: 50px; 
    padding: 20px; 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}



